@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    /* primary */
    --Orange: hsl(25, 97%, 53%);
    /* neutral */
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --DarkBlue: hsl(215, 20%, 17%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --circles: hsl(209, 19%, 21%);
}

*{
    box-sizing: border-box;
    font-family: "Overpass";
}

body,section,main,form, .svg-wrapper,.options-div , label{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main,section{
    border-radius: 15px;
}

body{
    height: 100dvh;
    background-color: var(--VeryDarkBlue);
    width: 100dvw;
    margin: 0;
    .container{
        max-width: 90%;
        padding: 1.6em;
        width: 22em;
        background-color: var(--DarkBlue);
    }
    .text-container{
        line-height: 1.6em;
        h1,p{
            color: var(--White);
        }
        h1{
            font-size: 28px;
            font-weight: 500;
        }
        p{
            color: var(--LightGrey);
            font-size: 15px;
        }
    }
}
main{
    .svg-wrapper{
        align-self: flex-start;
        padding: 0.9em;
        border-radius: 50%;
        background-color: var(--circles);
        margin-bottom: 1em;
    }
    img{
        width: 15px;
    }
    button{
        border-radius: 30px;
        background-color: var(--Orange);
        padding: 1em;
        width: 100%;
        font-weight: 600;
        letter-spacing: 2px;
        border: 2px solid var(--DarkBlue);
        cursor: pointer;
        transition: all 0.3s ease-in;
        &:hover{
            background-color: var(--White);
            color: var(--DarkBlue);
        }
    }
}

form{
    .options-div{
        margin-bottom: 1.3em;
        flex-direction: row;
        justify-content: space-around ;
        width: 100%;
        flex-wrap: wrap;
        gap: 5px 2px;
        label{
            border-radius: 50%;
            padding: 0.8em 1.2em; 
            background-color: var(--circles);
            color: var(--LightGrey);
            cursor: pointer;
            font-weight: 600;
            transition: all 0.3s ease-in;
            &:hover{
                background-color: var(--White);
                color: var(--DarkBlue);
            }
        }
        input[type="radio"]{
            display: none;
        }
        input[type="radio"]:checked + label{
            background-color: var(--Orange);
            color: var(--DarkBlue);
        }
    }
}

section{
    display: none;
    .selected-options{
        margin-top: 1.8em;
        border-radius: 20px;
        background-color: var(--circles);
        padding: 0.5em 0.8em;
        p{
            color: var(--Orange);
            margin: 0;
            font-size: 15px;
        }
    }
    .text-container{
        text-align: center;
        margin-top: 0.8em;
    }
}

.hide{
    main{
        display: none;
    }
    section{
        display: flex;
    }
}